.comunas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.comunas-map {
    border: 1px solid black;
    width: 360px;
    height: 360px;
}
.comunas-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    padding-right: 4px;
}