.porce {
    
    border-radius: 6px;
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.5rem;
}
    
.porce-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}
.porce-gaph {
    width: 50%;
    border: 1px solid black;
}
.porce-text {
    width: 30%;
}
.porce-total {
    font-weight: 600;
    font-size: 2rem;
}  


.porce-stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}