.dashboard {
    background-color: #FFFFFF;
}
.pagos {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.stats {   
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.recientes-table {
    width: 100%;
    padding: 4px;
    margin: 1px;
    text-align: center;
    
}   
    